body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'merriweather',serif;
    /* font-size: 200%; */
}
h1{
    color: #66BFBF;
   
    
    font-size: 5.625rem;
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;

}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
    

}
.top-container{
    background-color: #E4F9E5;
    position: relative;
    padding-top: 100px;
    font-family: 'Sacramento', cursive;
}
.pro-img{
    width: 25%;
    margin: 100px 0;
}
.middle-containe{
    margin: 100px 0px;
    
}
p{
    text-decoration:inline;
}


h2{
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Montserrat',sans-serif;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color: #11999E;
    font-family: 'Montserrat',sans-serif;
    /* margin-bottom: 20px; */
}
.bottom-cloud{
    position: absolute;
    margin-top: 50px;
    left: 300px;
    bottom: 300px;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 30px 0 20px;
}
.img-tag{
    margin-top: 100px;
}
hr{
    margin-top: 50px;
    text-decoration: dotted;
}
.pro{
    text-decoration: underline;
    color: #66BFBF;
    width: 30%;
}
/* .intro{
    width: 30%; */
.computer-1{
    margin-top: 50px;
    width: 30%;
}
.code-img{
    width: 25%;
    /* margin: 100px auto 100px auto; */
    float: left;
    margin-right: 30px;
}
.student{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    /* line-height: 2; */
}
/* .code-skils{
    clear: left;
}
.student-skils{
    clear: right;
} */

.table-class{
    margin: 0px auto 0px auto;
}
a{
    color: #11999E;
    font-family: 'Montserrat',sans-serif;
    margin: 20px 10px;
    text-decoration:none;

}
a:hover{
    color: #EAF6F6;
}
hr{
    border: dotted #91274a 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
}
body{
    margin: 0;
    text-align: center;
    font-family: 'merriweather',serif;
    /* font-size: 200%; */
}
h1{
    color: #66BFBF;
   
    
    font-size: 5.625rem;
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;

}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
    

}
.top-container{
    background-color: #E4F9E5;
    position: relative;
    padding-top: 100px;
    font-family: 'Sacramento', cursive;
}
.pro-img{
    width: 25%;
    margin: 50px 0;
}
.middle-containe{
    margin: 100px 0px;
    
}
p{
    text-decoration:inline;
}


h2{
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Montserrat',sans-serif;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color: #11999E;
    font-family: 'Montserrat',sans-serif;
    /* margin-bottom: 20px; */
}
.bottom-cloud{
    position: absolute;
    margin-top: 50px;
    left: 300px;
    bottom: 300px;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
.img-tag{
    margin-top: 100px;
}
hr{
    margin-top: 50px;
    text-decoration: dotted;
}
.pro{
    text-decoration: underline;
    color: #66BFBF;
    width: 30%;
}
/* .intro{
    width: 30%; */
.computer-1{
    margin-top: 50px;
    width: 30%;
}
.code-img{
    width: 25%;
    /* margin: 100px auto 100px auto; */
    float: left;
    margin-right: 30px;
}
.student{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    /* line-height: 2; */
}
.table-class{
    margin: 0px auto 0px auto;
}
a{
    color: #11999E;
    font-family: 'Montserrat',sans-serif;
    margin: 20px 10px;
    text-decoration:none;

}
a:hover{
    color: #EAF6F6;
}
hr{
    border: dotted #91274a 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
  }
.contact-message{
    width: 40%;
    margin: 40px auto 50px auto;
}
.contact-me{
    margin-top: 20px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat',sans-serif;;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  